:root {
    --rojo: #e63946;
    --azul: #1d3557;
    --celeste: #457b9d;
    --blanco: #ffffff;
    --dorado: #f4c430;

    --fondo: #f5f7fb;
    --texto: #1f2937;
    --gris: #64748b;

    --sombra:
        0 10px 30px rgba(0,0,0,.08);

    --transicion:
        all .3s ease;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:
    'Segoe UI',
    Arial,
    sans-serif;

    background:
    var(--fondo);

    color:
    var(--texto);

}


button,
a{

    font-family:inherit;

}


img{

    max-width:100%;
    display:block;

}